body {
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 43% 50%;
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
}
